
/* Base */
body {
  background: $black;
  font-family: sans-serif;
  text-align: center;
  overflow-y: scroll;
  color: $black;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
  text-align: left;
  margin: 0;
  color: #777;
  padding-left: 15px;
  margin-top: 40px;
  border-left: 8px solid rgba(63,148,148, 0.1);
}

a {
  text-decoration: none;
  text-align: center;

  &.link {
    color: $blue;
    -webkit-transition: all 150 ease 0s;
    transition: all 150 ease 0s;

    &:hover {
      color: $orange;
    }
  }
}

ul {
  float: left;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;

  li {
    width: 33.3333337%;
    height: auto;
    float: left;
    padding-left: 10px;
    list-style-type: none;
    box-sizing: border-box;

    &:first-child {
      padding-left: 0;
    }

    .content {
      background: $white;
      padding: 20px;
      border-top: 16px solid $orange;
      opacity: 0;
      transition: opacity 0.4s ease;

      &.show{
        opacity: 1;
      }
    }
  }
}