@import url('less/grid.less');
@import url('less/helper-mixins.less');


// Variables
// ------------------------
@total-width: 100%;


// Styles
// ------------------------

#header {
	#grid > .setGridWidths(12, 12, 12, 12);
	//background-color: #630537;
}

main {

	#content {
		#grid > .setGridWidths(12, 12, 12, 12);
		//background-color: #F0F9E3;
	}

	#sidebar {
		#grid > .setGridWidths(3, 4, 12, 12);
	}
}

#footer {
	#grid > .setGridWidths(12, 12, 12, 12);
	//background-color: #CAD1C1;
}

#header,
#main,
#footer {
	min-height: 300px;
	position: relative;
	.clearfix;
}

#content,
#sidebar{
	-webkit-transition: all 1s ease-in .2s;
	-moz-transition: 	all 1s ease-in .2s;
	-ms-transition: 	all 1s ease-in .2s;
	-o-transition: 		all 1s ease-in .2s;
	transition: 		all 1s ease-in .2s;
}